<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>StudyPlanner</title>
    <link rel="stylesheet" href="CSS/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="icon" href="Favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	<script src="main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="<%= loginpro %>">Study Planner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= authmylog%>">로그아웃</a>
                    </li>
                    <p class="nav-link"><%= authMy %> 님 안녕하세요!</p>
                </ul>

            </div>
        </div>
    </nav>

    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Your Planner</div>
                        <div class="card-body">
                                <main class="container pt-5">
                                    <div class="card mb-5">
                                        <div class="card-header">Planner</div>
                                        <form class="PlanInput" action="/cal/cals" method="POST" >
                                        <div class="card-block p-0">
                                            <table class="table table-bordered table-sm m-0">
                                                <thead class="">
                                                    <tr>
                                                        <th style="width:150px">Check</th>
                                                        <th style="width:50px">Num</th>
                                                        <th style="width:200px">Subject</th>
                                                        <th style="width:600px">Plan</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" name="check1" <%=check1 %>> 
                                                                <span class="custom-control-indicator"></span>
                                                            </label>
                                                        </td>
                                                        <td>no.1</td>
                                                        <td><%= a1 %></td>
                                                        <td><%= b1 %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" name="check2" <%=check2 %>>
                                                                <span class="custom-control-indicator"></span>
                                                            </label>
                                                        </td>
                                                        <td>no.2</td>
                                                        <td><%= a2 %></td>
                                                        <td><%= b2 %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" name="check3" <%=check3 %>>
                                                                <span class="custom-control-indicator"></span>
                                                            </label>
                                                        </td>
                                                        <td>no.3</td>
                                                        <td><%= a3 %></td>
                                                        <td><%= b3 %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" name="check4" <%=check4 %>>
                                                                <span class="custom-control-indicator"></span>
                                                            </label>
                                                        </td>
                                                        <td>no.4</td>
                                                        <td><%= a4 %></td>
                                                        <td><%= b4 %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" name="check5" <%=check5 %>>
                                                                <span class="custom-control-indicator"></span>
                                                            </label>
                                                        </td>
                                                        <td>no.5</td>
                                                        <td><%= a5 %></td>
                                                        <td><%= b5 %></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </main>

                                <div class="Selections">
                                  <p>Plan 입력창</p>
                                  <div class="">
                                  <input type="radio" name="num" value="1" checked="checked">1
                                  <input type="radio" name="num" value="2" >2
                                  <input type="radio" name="num" value="3">3
                                  <input type="radio" name="num" value="4" >4
                                  <input type="radio" name="num" value="5">5
                                  </div>
                                </div>
                                <p></p>
                                <div class="text-box">
                                    <input type="text" name="sub" value="" style="width:250px; height:140px;">
                                    <input type="text" name="plan" value="" style="width:250px; height:140px;">
                                    <input type="submit" name="" value="저장" class="btn btn-primary">
                                  </div>
                                </form>
                                <div id="kCalendar">
                                    <script>
                                       calendar();
                                     </script>
                                     </div>
                                     <form action="/cal/result" method="POST">
                                        <input type="submit" value="결과 확인" class="btn btn-primary">
                                        </form>
                                </div>
                                
                          </div>
                    </div>
                </div>
            </div>
    </main>


  </body>
</html>
